.container-project {
    height: auto;
    background-color: #e4e9f7;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    margin: 10px 0px;
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header :nth-child(1) {
        max-width: 80%;
    }

    .members {}

    .detail-info {}

    .detail-info bottom {}

}