.container-section {
    position: relative;
    background-color: var(--color-body);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all .5s ease;
    z-index: 2;
}

.container-section main {
    display: inline-block;
    margin: 18px;
}

.sidebar.open~.container-section {
    left: 250px;
    width: calc(100% - 250px);
}
